@charset "UTF-8";

html{
  font-size: 62.5%;

}

body{
  margin: 0;
  padding: 0;
  font-size: 1.0rem;
}

header{
  padding: 0;
  margin: 0;
  background-color: #292929;
}


#header-in-top{
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  background-color: #292929;
}

#header-in-top-logo{
  width: 50%;
  float: left;
}

#header-in-top-logo h2{
  padding: 20px 10px 0px 15px;
  margin: 0;
  color: white;
  font-size: 2.2rem;
}

#header-in-top-logo h4{
  padding: 0px 0px 0px 20px;
  margin: 0;
  color: white;
  font-size: 1.5rem;
}

#header-in-top-social{
  background-color: #292929;
  width: 500px;
  height: 60px;
  float: right
}

#header-in-top-social img{
  height: 30px;
  margin: 25px 30px 5px 0px;
  float: right;
}


#header-in-bottom{
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  background-color: #292929;
  overflow:hidden;
}


.nav{
  width: 148px;
  height: 35px;
  background-color: #444444;
  float: left;
  margin: 15px 8px 0 8px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

.nav-selected{
  background-color: #e7207d;
}

.nav-left{
  margin-left: 16px;
}
.nav-right{
  margin-right: 16px;
}

.nav h3{
  margin: 7px 0 3px 0;
  text-align: center;
  font-size: 2.2rem;
  color: white;
}


#navButton-bottom{
  margin: 0 auto;
  height: 5px;
  background-color: #e7207d;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/*Contents*/
.grayDiv{
  background-color: #f3f3f3;
}

.whiteDiv{
  background-color: white;
}

.Div-in{
  width: 1000px;
  margin: 0 auto;
}

.Div-in h3{
  margin: 0;
  border-bottom: solid;
  font-size: 2.0rem;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.Div-in h3>a, a:hover, a:visited, a:link, a:active {
  color: black;
}

.Div-in ul{
  list-style: none;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

.Div-in li{
  border-bottom:#000000 1px dotted;
}

.Div-in li p{
  margin: 0;
  font-size: 1.6rem;
  padding-left: 10px;
  padding-right: 10px;
  width: 1000px;
}

.date{
  font-size: 1.2rem;
  padding-top: 8px;
}

.title{
  padding-top: 8px;
  padding-bottom: 8px;

}


.Imd-div-in{
  width: 1000px;
  margin: 0 auto;
}

.Div-in-img{
  margin: 5px 20px 10px 20px;
  width: 210px;
  height: 300px;
  background-color: #cccccc;
  float: left;
  border-radius: 3px;  
}

.Div-in-img p{
  width: 200px;
  height: 50px;
  margin: 5px;
  font-size: 1.4rem;
  padding: 0;
  margin: 4px;
}

.img-in-div{
  height: 220px;
  width: 200px;
  padding: 0;
  margin: 5px 5px 0px 5px;
}



footer{
  background-color: #292929;
  margin: 0 auto;
}



#footer-in{
  width: 1000px;
  margin: 0 auto;
}


#footer-in-nav{
  height: 50px;
  width: 693px;
  margin: 0 auto;
}


.footer-nav{
  width: 63px;
  float: left;
}

.footer-nav p{
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 25px 0 15px 0;
}

#footer-in-copyright{
  height: 30px;
  width: 693px;
  margin: 0 auto;
}


#footer-in-copyright p{
  margin: 10px 0 0px 0;
  padding: 0 0 5px 0;
  color: white;
  text-align: center;
  font-size: 1.4rem;
}


.forPC{
  display: visible;
}

.forTablet{
  display: none;
}

.forSmartPhone{
  display: none;
}

.forTabletAndSmartPhone{
  display: none;
}
