@charset "UTF-8";

html{
  font-size: 62.5%;

}

body{
  margin: 0;
  padding: 0;
  font-size: 1.0rem;
}

header{
  padding: 0;
  margin: 0;
  background-color: #292929;
}


#header-in-top{
  width: 100%;
  margin: 0 auto;
  background-color: #292929;
}

#header-in-top-logo{
  width: 50%;
  margin: 0 auto;
}

#header-in-top-logo h2{
  padding: 15px 0 0 0;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2.2rem;
}

#header-in-top-logo h4{
  padding: 5px 0 0 0;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

#header-in-top-social{
  width: 270px;
  margin: 0 auto;
}

#header-in-top-social img{
  height: 30px;
  margin: 15px 30px 15px 30px;
  float: right;
}

#tabletNav1{
  width: 500px;
  margin: 0 auto;
}


#tabletNav2{
  width: 500px;
  margin: 0 auto;
}





.nav{
  width: 150px;
  height: 35px;
  background-color: #444444;
  float: left;
  margin: 5px 5px 10px 5px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}



.nav-selected{
  background-color: #e7207d;
}

.nav-left{
  margin-left: 15px;
}
.nav-right{
  margin-right: 15px;
}

.nav h3{
  margin: 3px 0 6px 0;
  text-align: center;
  font-size: 2.2rem;
  color: white;
}


#navButton-bottom{
  margin: 0 auto;
  height: 5px;
  background-color: #e7207d;
}

/*ClearFix*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}




footer{
  background-color: #292929;
  margin: 0 auto;
}



#footer-in{
  margin: 0 auto;
}


.tabletFooter{
  width: 480px;
  margin: 0 auto;
}

.footer-nav{
  width: 60px;
  margin: 10px 10px 10px 10px;
  float: left;
}

.footer-nav p{
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0 5px 0;
}

#footer-in-copyright{
  margin: 0;
  padding: 0;
  text-align: center;
}

#footer-in-copyright p{
  color: white;
  margin: 0;
  font-size: 1.1rem;
  padding-bottom: 60px
}


.forPC{
  display: none;
}

.forTablet{
  display: visible;
}

.forSmartPhone{
  display: none;
}

.forTabletAndSmartPhone{
  display: visible;
}
